In [2]:
import numpy as np

A = np.array(range(12))
A

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [6]:
A = A.reshape(4,-1)
A

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [8]:
B = np.array(range(6)).reshape(-1,3)
B

array([[0, 1, 2],
       [3, 4, 5]])

In [18]:
B[0] * A

array([[ 0,  1,  4],
       [ 0,  4, 10],
       [ 0,  7, 16],
       [ 0, 10, 22]])

In [19]:
C = np.array(range(8)).reshape(4,-1)
C

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [22]:
(C[:,0].T * A.T).T

array([[ 0,  0,  0],
       [ 6,  8, 10],
       [24, 28, 32],
       [54, 60, 66]])

In [23]:
A, B, C

(array([[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11]]),
 array([[0, 1, 2],
        [3, 4, 5]]),
 array([[0, 1],
        [2, 3],
        [4, 5],
        [6, 7]]))

In [24]:
A.shape, B.shape, C.shape

((4, 3), (2, 3), (4, 2))

In [30]:
A @ B.T, B @ A.T

(array([[  5,  14],
        [ 14,  50],
        [ 23,  86],
        [ 32, 122]]),
 array([[  5,  14,  23,  32],
        [ 14,  50,  86, 122]]))

In [31]:
A.T @ C, C.T @ A

(array([[ 84, 102],
        [ 96, 118],
        [108, 134]]),
 array([[ 84,  96, 108],
        [102, 118, 134]]))

In [35]:
A @ B.T @ C.T, (B @ A.T) @ C

(array([[  14,   52,   90,  128],
        [  50,  178,  306,  434],
        [  86,  304,  522,  740],
        [ 122,  430,  738, 1046]]),
 array([[ 312,  386],
        [1176, 1448]]))

In [36]:
a = A[0]
b = A[1]
a, b

(array([0, 1, 2]), array([3, 4, 5]))

In [41]:
a * b

array([ 0,  4, 10])

In [43]:
a @ b

14

In [46]:
Va = A[0:1]
Vb = A[1:2]
Va, Vb

(array([[0, 1, 2]]), array([[3, 4, 5]]))

In [47]:
Va * Vb

array([[ 0,  4, 10]])

In [49]:
Va @ Vb.T

array([[14]])